.acme-navbar-text{
  color: white;
}

nav.navbar {
  background-color: #353a47;
  margin: 0px;
  width: 100%;
  top:0px;
  width: 100%;
}

div.container-fluid {
  height: 65px;
}

a {
  color: #0090DC;
}

h1 {
  font-size: 3em;
  margin: 0;
  line-height: 1.25em;
}

a:hover, a:focus {
  color: #0090DC;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #353a47;
  border-color: white;
  border-style: solid;
  border-top: thick white;
  border-left: thick white;
  border-right: thick white;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #353a47;
}

div.header {
  height: 100px;
}

div.logo {
  background-image: url(./assets/images/logo.jpg);
}

#menu {
  margin-right: 10%;
}

#brand {
  margin-left: 10%;
}

#brand-text {
  font-size: x-large;
  padding-top: 25px;
}

#brand-img {
  padding: 0px;
  height: 93px;
  width: 260px;
}

a.menu-text {
  font-size: large;
  font-weight: bold;
}

a.menu-text:hover {
  border-style: solid;
  border-color: white;
  border-top: thick white;
  border-left: thick white;
  border-right: thick white;
}

ul.menu-drop{
  background-color: #353a47;
  margin: 0.5px;
}

.dropdown-menu > li > a {
    text-align: center;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-size: medium;
    font-weight: normal;
    line-height: 2;
    color: #0090DC;
    white-space: nowrap;
}
