mixin display
  div(class="row dis-pro")
    div(class="col-md-3")
      div(class="show-display")
        img(src="assets/images/angular.png" class="thumnail show-image")
      p(class="description") 介绍: AngularJS是Google开发的纯客户端JavaScript技术的WEB框架,用于扩展、增强HTML功能,它专为构建强大的WEB应用而设计。
    
    div(class="col-md-3")
      div(class="show-display")
        img(src="assets/images/angular.png" class="thumnail show-image")
      p(class="description") 介绍: AngularJS是Google开发的纯客户端JavaScript技术的WEB框架,用于扩展、增强HTML功能,它专为构建强大的WEB应用而设计。
    
    div(class="col-md-3")
      div(class="show-display")
        img(src="assets/images/angular.png" class="thumnail show-image")
      p(class="description") 介绍: AngularJS是Google开发的纯客户端JavaScript技术的WEB框架,用于扩展、增强HTML功能,它专为构建强大的WEB应用而设计。
    
    div(class="col-md-3")
      div(class="show-display")
        img(src="assets/images/angular.png" class="thumnail show-image")
      p(class="description") 介绍: AngularJS是Google开发的纯客户端JavaScript技术的WEB框架,用于扩展、增强HTML功能,它专为构建强大的WEB应用而设计。


h1(class="dis-head") 产品展示
+display
+display
+display
+display
+display
