/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
@font-face {
    font-family: shanghei;
    src: url(../assets/fonts/shanghei.ttf);
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
  border-color: black;
  background-color: #F8F8F8;
  img.pull-right {
    width: 50px;
  }
}

div.display {
  background-image: url(../assets/images/hero.jpg);
  width: 100%;
  height: 570px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

body {
  font-family: shanghei;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
