div(class="show-case")
  h1(class="show-text") {{title}}
  a(href="#" class="link") 更多 
  
  div(class="row")
    div(class="col-md-4")
      div(class="show-display")
        img(src="assets/images/angular.png" class="thumnail show-image")
      p(class="description") 介绍: AngularJS是Google开发的纯客户端JavaScript技术的WEB框架,用于扩展、增强HTML功能,它专为构建强大的WEB应用而设计。
        
    div(class="col-md-4") 
      div(class="show-display")
        img(src="assets/images/bootstrap.png" class="thumnail show-image")
      p(class="description") 介绍：Bootstrap是Twitter推出的一个用于前端开发的开源工具包。它由Twitter的设计师Mark Otto和Jacob Thornton合作开发，是一个CSS/HTML框架。
    
    div(class="col-md-4") 
      div(class="show-display")
        img(src="assets/images/gulp.png" class="thumnail show-image")
      p(class="description") 介绍：Gulp.js 是一个自动化构建工具,开发者可以使用它在项目开发过程中自动执行常见任务。
  
