div.signup-blk {
  background-color: #1699B1;
  margin-bottom: 40px;
  position: relative;
  height: 80px;
}

div.signup-text {
  padding-top: 5px;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

div.submission {
  padding: 25px;
}
